{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "requirePragma": false,
  "rangeStart": 0,
  "rangeEnd": 0,
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 100,
        "proseWrap": "always",
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": ["*.sh"],
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    },
    {
      "files": ["package.json", "package-lock.json"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    }
  ]
}